.error {
	margin-bottom:10px;
	color: red;
	height:20px;
}
.error span{
    display: inline-block;
    font-size: 13px;
}
 
.loginAll {
	background-image:
		url('../img/bgi.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.login-big{
	background-color: white;
	width:300px;
	height:400px;
	border-radius:5px;
	position: absolute;
/* 	right:200px;
	top:25%; */
}
.login-small{
	margin:25px auto;
	width:85%;
	height:90%;
}
.login-title{
	width:100%;
	height:20%;
}
.login-title img{
	margin-left:-15px;
}
.userAccount{
	width:100%;
	padding-left:40px;
}
.userPassword{
	width:100%;
	padding-left:40px;
}

.register-userAccount{
	width:100%;
	padding-left:40px;
}
.register-userPassword{
	width:100%;
	padding-left:40px;
}
.rememberMe_controller{
	/* margin-bottom: 10px; */
}
.rememberMe{
	font-size:12px;
	margin-left:0px !important;
	color:rgba(0,0,0,0.8);
}
.rememberMe label{
	font-weight: 200;
}
.layui-input-inline{
	width:100% !important;
}
.login-help{
	height: 10%;
	width: 100%;
	border-bottom: 2px #e9e9e9 solid;
	font-size: 10px;
	margin-top:25px;
}
.layui-form-item {
	margin-bottom: 5px !important;	
}
.marginBottom{
	margin-top: 15px;
}
.login-help .register{
	color:rgba(0,0,0,0.6);
}
.login-help .forgetPassword{
	float: right;
	color:rgb(0,150,136);
}
.login-others{
	height: 50px;
    margin-top: 10px;
}
.login-others span:nth-child(1){
	padding-top:15px;
	color:rgba(0,0,0,0.6);
	display:inline-block;
}
.login-others span:nth-child(2){
	float:right;
	padding-top:10px;
	display:inline-block;
}
.showPwd .layui-input-inline:nth-child(1){
	position: relative;
}
.show_pwd{
	position: absolute;
	top: 8px;
	right: 10px;
	cursor: pointer;
}
.show_pwds{
	position: absolute;
	top: 17px;
	right: 10px;
	cursor: pointer;
}
.eg{
	margin-top:9px;
}
.icon_account{
	position: absolute;
	height:30px;
	left:5px;
	top:8px;
	font-size: 10px;
}
.cao{
	position: absolute;
    height: 30px;
    left: 25px;
    top: 163px;
    font-size: 10px;
}
.icon_account i{
	font-size: 19px; 
	padding:5px; 
	color: rgba(0,0,0,0.5);
}
.border-green:focus{
	border-color: rgb(51,171,160) !important;
} 
.border-red:focus{
	border-color: rgb(246,42,132) !important;
}
.login_controller{
    height: 405px;
    width: 350px;
    position: absolute;
    top: 20%;
    right: 200px;
}
.verification_img{
	position: absolute;
	right: 1px;
	top: 11px;
}
.register-userEmail{
	width: 100%;
    padding-left: 40px !important;
}
.register_error{
	margin-top:-10px;
}
.glyphiconEnvelope{
	margin-top: 6px !important;
}












/* 登录界面翻转开始 */
.flip-container {
	-webkit-perspective: 1000px; /* 父类容器中 perspective 子类允许透视 */
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
	margin: 0px auto;
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

/* .flip-container:hover .back { */
/* 	transform: rotateY(0deg); */
/* 	-webkit-transform: rotateY(0deg); */
/* 	-moz-transform: rotateY(0deg); */
/* 	-ms-transform: rotateY(0deg); */
/* 	-o-transform: rotateY(0deg); */
/* 	z-index: 2; */
/* } */
/* .flip-container:hover .front { */
/* 	transform: rotateY(180deg); */
/* 	-webkit-transform: rotateY(180deg); */
/* 	-moz-transform: rotateY(180deg); */
/* 	-ms-transform: rotateY(180deg); */
/* 	-o-transform: rotateY(180deg); */
/* 	z-index: 1 */
/* } */

.flip-container, .front, .back {
	width: 305px;
	height: 405px;
}

.flipper {
	transition: transform 0.6s ease-out;
	transition: transform .5s ease-in-out;
	-webkit-transition: transform .5s ease-in-out;
	-moz-transition: transform .5s ease-in-out;
	-ms-transition: transform .5s ease-in-out;
	-o-transition: transform .5s ease-in-out;
	-webkit-transform-style: preserve-3d; /*使其子类变换后得以保留 3d转换后的位置*/
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display: block;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	transition: 0.6s ease-out;
	-webkit-transition: .6s ease-out;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: absolute;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}

.back {
	z-index: 1;
	transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
}
/* 登录界面翻转结束 */


/* 背面 */
.back input{
	margin-top: 10px;
}
.back .icon_account{
	margin-top: 10px;
}