<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cj.dao.RolePermissionMapper">
  <resultMap id="BaseResultMap" type="cn.cj.entity.RolePermission">
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="peimission_id" jdbcType="BIGINT" property="peimissionId" />
  </resultMap>
  <insert id="insert" parameterType="cn.cj.entity.RolePermission">
    insert into role_permission (role_id, peimission_id)
    values (#{roleId,jdbcType=BIGINT}, #{peimissionId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.cj.entity.RolePermission">
    insert into role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="peimissionId != null">
        peimission_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="peimissionId != null">
        #{peimissionId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>